%h2.h2 Хочу разблокировать аккаунт
.row
  .col-md-12
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, role: :form, class: 'form-horizontal' }) do |f|
      .form-group
        .alert.alert-info
          = devise_error_messages!
      .form-group
        = f.label :email, class: 'control-label col-md-3'
        .col-md-9
          = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group= f.submit "Resend unlock instructions"
.row
  .col-md-12
    = render "devise/shared/links"

