!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=greek,cyrillic-ext,latin-ext', rel: 'stylesheet', type: 'text/css' }
    %title WebRTC Shidur
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :header_js

  %body
    -if user_signed_in?
      = render partial: 'application/menu'
    .container{ style: 'margin-top: 4em;' }
      = yield
